.big_box10121 { position:fixed; z-index: 999; top: 0; left: 0; right: 0; bottom: 0;  background: rgba(0,0,0,.63);display: none;}
.popup_box1 { position: fixed;    width: 450px;    left: 50%;    top: 50%;    margin: -230px 0 0 -250px;    background: #dfdfdf;  padding: 50px;}
.pop_b_xx1 { position:relative;}
.p_xx_t1 { text-align: center; font-size: 24px;  color: #666;  }
.p_xx_t1:before  { content: ""; width: 90px; border-top: 1px solid #ededed; position: absolute; top: 10px; left: 0; } 
.p_xx_t1:after  { content:""; width: 90px; border-top: 1px solid #ededed; position: absolute; top: 10px;  right: 0; } 
	
.p_xx_t11  { text-align: center; color: #E71013  ; font-size: 14px; padding: 20px; }
.p_xx_l1 { float:left; width: 49%; }
.p_xx_l11 { float:left; width: 69%; }
.p_xx_r11 { float:right; width: 29%; }
.p_xx_l1 select { border:1px solid #ddd; width: 100%;  line-height: 20px; padding-top: 10px; padding-bottom: 10px; }
.p_xx_l1 select:focus , .p_xx_r select:focus , .xx_c_txt:focus  {border:1px solid #ddd; outline: none;} 
.p_xx_s11 { background:#e9e9e9;}
.p_xx_r1 { float:right; width: 49%;}
.p_xx_r1 select { border:1px solid #ddd; width: 100%; line-height: 20px; padding-top: 10px; padding-bottom: 10px;    }
.p_xx_c1 , .p_xx_cx1 { margin-bottom:20px; height: 140px;text-align: center;}
.p_xx_c11 { padding-top:20px; overflow: hidden;text-align: center;}
	
.xx_c_txt1 { line-height: 20px; padding-top: 10px; padding-bottom: 10px;  padding-left: 10px;  border:1px solid #ddd; width: 100%; }
.xx_c_btn 1{ border: 0;    background: #ff8d13; color: #fff; font-family: "微软雅黑"; font-size:16px;  padding: 10px; cursor:pointer;}
.xx_c_btn1:focus { border: 0; outline: none;} 
.xx_c_btn1:hover { background: #eb7900;}
	
.xx_c_btna1 { border: 0;background: #e9e9e9; color: #666; font-family: "微软雅黑"; font-size:16px; padding: 10px; cursor:pointer; margin-right: 10px;width:100px;}
.xx_c_btna1:focus { border: 0; } 
.xx_c_btna1:hover { background: #666; color: #fff;}
	
.imgerweima1 {width:120px; height: 120px;}
	
.close1 { width:36px; height: 36px; position: absolute; top: 0; right: 0; cursor: pointer;}
.close1 i { width: 20px;
 height: 20px;
 position: absolute;
 left: 50%;
 top: 50%;
 margin: -10px 0 0 -10px;
 background: url("../images/msg_close.png"/*tpa=http://www.9orange.com/templets/default/10/images/msg_close.png*/) 0 0 no-repeat;}
	
.btn_yzm1  { border:0; background: #e9e9e9; color: #666; display: block; width: 100%; font-size: 14px; font-family: "微软雅黑"; height: 40px; line-height: 40px; cursor: pointer;}
.btn_yzm1:hover { background: #666; color: #fff;} 
.btn_yzm1:focus { border:0; }